body{
	background-color: #DCDCDC;
}
.buttons{
	vertical-align: center;
	border: .5px solid #2222ff;
	width:12%;
	height:3%;
	left:35%;
	top:1%;
	position:absolute;
}
.buttons button{
	text-decoration: none;
	color:black;
	text-align: center;
	
}
.container{
	position:absolute;
	left:20%;
	top:10%;
	height:80%;
	width:60%;
}
div div{
	background-color:#000;
}
.container > div{
	margin:0;
	padding:0;
	border-top:0;
	border-bottom:0;
	float:left;
	vertical-align:top;
}
.highlighta{
	background-color: #FFF;
}
div .selected{
	background-color:#B00000;
}